/*---------------------------------------------------------------------------------------------------RESET CSS---------------------------------------------------------------------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
}

img {
  width: 100%;
}

/*---------------------------------------------------------------------------------------------------RESET CSS---------------------------------------------------------------------------- */

.Navigation {
  background-color: #1f2937;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

ul a {
  color: white;
  text-decoration-style: none;
}

ul {
  list-style: none;
  text-decoration-style: none;
  display: flex;
  gap: 16px;
  padding: 0 15px;
}

a {
  color: #ffffff;
}
.Hero {
  display: flex;
  background-color: #1f2937;
  color: #ffffff;
  padding: 50px;
  justify-content: center;
  gap: 20px;
  padding: 130px;
}

.Hero__Description {
  flex-basis: 400px;
}

.Hero_Title {
  font-weight: 900;
  font-size: 48px;
  color: #f9faf8;
}

.Hero_Paragraph {
  font-size: 18px;
  color: #e5e7eb;
}

.Img {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  width: 450px;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;

  border-style: solid;
  border-width: 2px;
  border-color: navy;
}

.Button {
  background-color: #3882f6;
  color: #ffffff;
  padding: 5px 25px;
  text-decoration: none;
  border-radius: 0.75rem;
}

.Cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.Information {
  padding: 130px 0;
}
.Information_Title {
  text-align: center;
  padding: 20px;
  font-size: 36px;
  color: #1f2937;
}

.Quotes {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  background-color: #e5e7eb;
  font-style: italic;

  display: flex;
  flex-direction: column;
  padding: 130px;

  font-size: 24px;
  line-height: 150%;
  font-style: italic;
}

.Quotes_para {
  text-align: end;

  font-weight: 600;
}

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  padding: 130px;
}

.CTA_Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #3882f6;
  border-radius: 1.2rem;
  padding: 2rem;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
}
.Button--CTA {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
}

.Bold {
  font-weight: bold;
}
